.header:hover {
  cursor: pointer;
}

.dropdown {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown::after {
  display: none;
}

.dropdownItem {
  color: #550000;
}

.dropdownItem:hover {
  background-color: #ffaaaa;
}

.icon {
  position: relative;
  padding: 5px;
}

.numberOfItems {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background: #740000;
  color: #fbc3c3;
  border-radius: 50%;
  font-size: 0.6rem;
  font-weight: bold;
  text-align: center;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn.show {
  background-color: #ffaaaa;
  border-color: #ffaaaa;
}
